<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44391/UsersAPI/,ws://localhost:59877/UsersAPI/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1g8Jabr/b5ZmWrA9o6zF2F3p9QKIXxUdLkDxZoBHvpCobs0jb4OKv1I/FrpV67a4hS96mV53l24ZaVUT3FM3VqtHHXh1seb2c5jYWThpANdaI0K45+gxnvE6kdhMJCCaxkpsVRW5KCy24aIh35v5QV9AxKCj2arizfem/6W60tSkRovEHUizzHX/ho1/GG6gVDwhiWruMHkn3udGgbHdp0Hah+7d+SkK5GagYZYcE8dAujire7dLYoLJlXlpguGPoWs+4nDTgkd47/b510wD+kcKgBRPFs9eACJt88BDzje7I1C2JXJtzn0WF4z1DMazlRn+f4hIdj1euFOWEwXJcQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>